<h1>Available articles</h1>
<div class="cards">
<% @articles.each do |article| %>
  <div class="cards__item">
    <img src="<%= article.image %>" alt="Picture">
    <div class="card__content">
      <h3><%= article.title.capitalize %></h3>
      <p><%= article.content %></p>
      <a href="/articles/<%= article.id %>" class="btn">Access</a>
   </div>
  </div>
<% end %>
</div>
